### 1.Create a function that takes a base number and an exponent number and returns the calculation

In [1]:
base,exp=int(input()),int(input())
i=1
while i<exp:
    base*=base
    i+=1
    print(base)

3
4
9
81
6561

In [4]:
base,exp=int(input()),int(input())
for i in range(3):
    base*=base
    i+=1
    print(base)

2
3
4
16
256

### 2.Create a function that takes a list and returns the sum of all numbers in the list.

In [8]:
x=[3,90,67,45]
total=0
for i in range(0,len(x)):
    total=total+x[i]
print ("sum of all elements:",total)

sum of all elements: 205

In [3]:
x=[3,56,78,45]
i=0
total=0
while (i<len(x)):
    total=total+x[i]
    i+=1
print ("sum of all elements:",total)

sum of all elements: 182

#### 3.Create a function that takes a list of numbers. Return the largest number in the list.

In [1]:
x=[34,56,78,90]
i=1
while i<len(x):
    if x[i]>0:
        largest=x[i] 
    i+=1  
print(" the largest number:",largest)

 the largest number: 90

In [2]:
num=[34,56,89,3]
largest=num[0]
for num in num:
    if num>largest:
        largest=num
print("Largest number:",largest)

Largest number: 89

#### 4.Create a function that takes a list of numbers and returns the smallest number in the list

In [19]:
x=[34,89,12,45]
i=1
while i<len(x):
    if x[i]<smallest:
        smallest=x[i]
    i+=1
print(" the smallest number:",smallest)

 the smallest number: 12

In [4]:
num=[45,34,12,6]
smallest=x[0]
for num in num:
    if num<smallest:
        smallest=num
print("smallest number:",smallest)

smallest number: 6

In [5]:
list=[20,67,56,90]
x=list[0]
for i in list:
    if i>x:
        x=i
print(x)

90

In [2]:
list=[23,45,67]
x=list[0]
for i in list:
    if i<x:
        x=i
print(x)

23

#### 5. Create a function that takes a list and returns the difference between the biggest and smallest numbers.

In [2]:
x=[24,56,34,67]
i=1
largest=smallest=x[0]
while i<len(x):
    if x[i]<smallest:
        smallest=x[i]
    if x[i]>largest:
        largest=x[i]
    i+=1
print("smallest,largest:",largest,smallest)

smallest,largest: 67 24

In [13]:
x=[24,56,34,67]
largest=smallest=x[0]   
for i in x:
    if x[i]<smallest:
        smallest=x[i]
    if x[i] >largest:
        largest=x[i]
print("smallest,largest:",largest,smallest)

IndexError: list index out of range

##### 6.Write a function that takes an integer and returns a string with the given number of "a"s in Edabit.

Examples
how_many_times(5) ➞ "Edaaaaabit"

In [2]:
num=int(input("enter the num:"))
result=0
if num>=0:
    result='E'+'d'+'a'*4 +'bit'
else:
    result=0
print(result)

enter the num:5
Edaaaabit

In [2]:
num=int(input("enter a num:"))
result=''
while num>=1:
    result='E'+'d'+'a'*6+'bit'
    num-=1
print(result)

enter a num:8
Edaaaaaabit

In [2]:
num =int(input("enter a num:"))
result=''
for i in range(num):
       result='E'+'d'+'a'*6+'bit'
print(result)

enter a num:6
Edaaaaaabit

#### 7.Create a function that returns True if all parameters are truthy, and False otherwise.

Examples
all_truthy(True, True, True) ➞ True

In [16]:
list=[True,False,True]
result=True
i=0
while i<len(list):
    if not list[i]:
        result=False
    i+=1 
print(result)

False

In [17]:
list =[True,True,True]
result=True
for i in list:
    if not i:
        result=False
        
print(result)

True

#### 8.Buggy Code (Part 5)
Mubashir created an infinite loop! Help him by fixing the code in the code tab to pass this challenge. Look at the examples below to get an idea of what the function should do.

Examples
print_list(1) ➞ [1]

print_list(3) ➞ [1, 2, 3]

print_list(6) ➞ [1, 2, 3, 4, 5, 6]

In [45]:
x=(1)
target=1
for i in range(1,target+1):
    print([i])

[1]

In [42]:
x=(1)
target=1
i=1
while i<=target:
    print([i])
    i+=1

[1]

#### 9.Return last item.

In [ ]:

Create a function that returns the last value of the last item in a list or string.

Examples
last_ind([0, 4, 19, 34, 50, -9, 2]) ➞ 2

last_ind("The quick brown fox jumped over the lazy dog") ➞ "g

In [2]:
x=[0,4,19,34,50,-9,2]
last_value=None
while x:
    last_value=x[-1]
    break
print(last_value)

2

In [4]:
x=[0,4,19,34,50,-9,2]
last_value=None
for i in x:
    last_value=x[-1]
print(last_value)

2

#### 10.Destructuring Assignment (Ignoring Values)
You can assign variables from lists like this:

first, _ , last = [1, 2, 8]

first   = lst[0]

_   = ignores second value (2)

last   = lst[-1]

print(first) ➞ outputs 1
print(last) ➞ outputs 8

In [52]:
x=[1,2,8]
i=0
while i<(len(x)-2):
    first,_,last=x[i],_,x[i+2]
    print(first,',',last)
    i+=1

1 , 8

In [4]:
list=[1,2,8]
for i in range(len(list)-2):
    first,_,last=list[i],_,list[i+2]
    print(first,',',last)

1 , 8

#### 11.Count Instances of a Character in a String
Create a function that takes two strings as arguments and returns the number of times the first string (the single character) is found in the second string.

Examples
char_count("a", "edabit") ➞ 1

char_count("c", "Chamber of secrets") ➞ 1

char_count("b", "big fat bubble") ➞ 4

In [11]:
char="a"
string="edabit"
while i<len(string):
    if string[i]==char:
        count+=1
    i+=1
result=count
print(result)

1

In [10]:
char="a"
string="edabit"
count=0
for letter in string:
    if letter==char:
        count+=1
print(count)

1

#### 12.Find the Index
Create a function that takes a list and a string as arguments and returns the index of the string.

Examples
find_index(["hi", "edabit", "fgh", "abc"], "fgh") ➞ 2

In [15]:
list=["hi","edabit","fgh","abc"]
b="fgh"
i=0
while i<len(list):
    if list[i]==b:
        print(i)
    i+=1

2

In [19]:
x=["hi","edabit","fgh","abc"]
b="fgh"
i=0
for i in range(len(x)):
    if x[i]==b:
        index=i
print(i)

3

#### 13.Recreating a len() Function
Create a function which returns the length of a string, without using len().

Examples
length("Hello World") ➞ 11

In [11]:
x=("hello world")
length=0
i=0
while i<len(x):    
    length+=1
    i+=1
print(length)

11

In [7]:
x=("hello world")
length=0
for i in x:
    length+=1
print(length)

11

#### 14.Create a function that takes a 2D list lst and returns the sum of the minimum value in each row.

Examples
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
]) ➞ 26

In [53]:
lst=[[1,2,3,4],[5,6,7,8,9],[20,21,34,56,100]]
row_index=0
result=0
while row_index<len(lst):
    min_value=min(lst[row_index])
    result+=min_value
    row_index+=1
print(result)

26

In [54]:
lst=[[1,2,3,4],[5,6,7,8,9],[20,21,34,56,100]]
row_index=0
result=0
for row in lst:
    min_value=min(row)
    result+=min_value
print(result)

26

#### 15.Given a letter and a list of words, return whether the letter does not appear in any of the words.

Examples
forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

forbidden_letter("m", []) ➞ True

In [4]:
words=["rock","paper","scissors"]
result=True
i=0
letter="r"
while i<len(words):
    if letter in words[i]:
        result=False
    i+=1
print(result)

False

In [7]:
words=["spoon","fork","knife"]
result=True
i=0
letter="a"
while i<len(words):
    if letter in words[i]:
        result=False
    i+=1
print(result)

True

In [10]:
words=["spoon","fork","knife"]
result=True
letter="a"
for i in words:
    if letter in words:
        result=False
    
print(result)

True

#### 16.Factors of a Given Number
Create a function that finds each factor of a given number n. Your solution should return a list of the number(s) that meet this criteria.

Examples
find_factors(9) ➞ [1, 3, 9]
# 9 has three factors 1, 3 and 9

find_factors(12) ➞ [1, 2, 3, 4, 6, 12]

find_factors(20) ➞ [1, 2, 4, 5, 10, 20]

find_factors(0) ➞ []
# 0 has no factors

In [1]:
num=9
i=1
while i<=num:
    if num%i==0:
        print(i)
    i+=1

1
3
9

In [1]:
x=20
i=1
while i<=x:
    if x%i==0:
        print(i)
    i+=1

1
2
4
5
10
20

In [8]:
num=20
factors=[]
for i in range(1,num+1):
    if num%i==0:
        factors+=[i]
print(factors)

[1, 2, 4, 5, 10, 20]

In [1]:
x=9
factors=[]
for i in range(1,x+1):
    if x%i==0:
        factors+=[i]
print(factors)

[1, 3, 9]

#### 17.Reverse the Case
Given a string, create a function to reverse the case. All lower-cased letters should be upper-cased, and vice versa.

Examples
reverse_case("Happy Birthday") ➞ "hAPPY bIRTHDAY"

reverse_case("MANY THANKS") ➞ "many thanks"

reverse_case("sPoNtAnEoUs") ➞ "SpOnTaNeOuS"

In [16]:
x=("Happy Birthday")
i=0
while i<len(x):
    print(x[i].swapcase(),end="")
    i+=1

hAPPY bIRTHDAY

In [20]:
x=("Happy Birthday")
for i in range(len(x)):
    print(x[i].swapcase(),end="")

hAPPY bIRTHDAY

#### 18.Hashes and Pluses
Create a function that returns the number of hashes and pluses in a string.

Examples
hash_plus_count("###+") ➞ [3, 1]

hash_plus_count("##+++#") ➞ [3, 3]

hash_plus_count("#+++#+#++#") ➞ [4, 6]

hash_plus_count("") ➞ [0, 0]

In [29]:
x="###+"
count=0
for i in range(len(x)):
    if x[i]=="#":
        count+=1
print("number of hashes",count)

number of hashes 3

In [3]:
x=("###+")
count_plus=0
count_hash=0
for i in range(len(x)):
    if x[i]=="#":
        count_hash+=1
    elif x[i]=="+":
        count_plus+=1
result=(count_hash,count_plus)
print("result",result)

result (3, 1)

In [1]:
x=("###+")
count_hash=0
count_plus=0
i=0
while i<len(x):
    if x[i]=="#":
        count_hash+=1
    elif x[i]=="+":
        count_plus+=1
    i+=1
result=(count_hash,count_plus)
print("result",result)

result (3, 1)

#### 19.Sum of the Odd Numbers
Create a function which returns the total of all odd numbers up to and including n. n will be given as an odd number.

Examples
add_odd_to_n(5) ➞ 9
# 1 + 3 + 5 = 9

add_odd_to_n(13) ➞ 49

add_odd_to_n(47) ➞ 576

In [3]:
n=9
i=0
count_odd=0
while i<=n:
    if i%2!=0:
        count_odd+=1
    i+=1 
print("sum of odd numbers:",count_odd)

sum of odd numbers: 5

In [4]:
n=9
count_odd=0
for i in range(1,11):
    if i%2!=0:
        count_odd+=1
print("sum of odd numbers:",count_odd)

sum of odd numbers: 5

#### 20.Summing the Squares
Create a function that takes a number n and returns the sum of all square numbers up to and including n.

squares_sum(3) ➞ 14
# 1² + 2² + 3² =
# 1 + 4 + 9 =
# 14
Examples
squares_sum(3) ➞ 14

squares_sum(12) ➞ 650

squares_sum(13) ➞ 819

In [3]:
x=3
total=0
i=1
while i<=x:
    total+=i**2
    i+=1
print("sum of square number:",total)

sum of square number: 14

In [5]:
n=3
total =0
for i in range(1,n+1):
    total+=i**2
print("sum of square number:",total)

sum of square number: 14

#### 21.Negate the List of Numbers
Given a list of numbers, negate all elements contained within.

Negating a positive value -+n will return -n, because all +'s are removed.
Negating a negative value --n will return n, because the first - turns the second minus into a +.
Example

Examples
negate([1, 2, 3, 4]) ➞ [-1, -2, -3, -4]

negate([-1, 2, -3, 4]) ➞ [1, -2, 3, -4]

negate([]) ➞ []

In [6]:
num=([1,2,3,4])
i=0
while i<len(num):
    num[i]=-num[i]
    i+=1
    
print(num)

[-1, -2, -3, -4]

In [7]:
num=([1,2,3,4])
for i in range(len(num)):
    num[i]=-num[i]
print(num)

[-1, -2, -3, -4]

#### 22.Additive Inverse
A number added with its additive inverse equals zero. Create a function that returns a list of additive inverses.

Examples
additive_inverse([5, -7, 8, 3]) ➞ [-5, 7, -8, -3]

additive_inverse([1, 1, 1, 1, 1]) ➞ [-1, -1, -1, -1, -1]

additive_inverse([-5, -25, 35]) ➞ [5, 25, -35]

In [11]:
num=[5,-7,8,3]
inverse=[]
i=0
while i<len(num):
    inverse.append(-num[i])
    i+=1
print(inverse)

[-5, 7, -8, -3]

In [12]:
num=[5,-7,8,3]
inverse=[]
for num in num:
    inverse.append(-num)
print(inverse)

[-5, 7, -8, -3]

#### 23.Add a Consecutive List of Numbers
Write a function that takes the last number of a consecutive list of numbers and returns the total of all numbers up to and including it.

Examples
add_up_to(3) ➞ 6
# 1 + 2 + 3 = 6

add_up_to(10) ➞ 55
# 1 + 2 + 3 + ... + 10 = 55

add_up_to(7) ➞ 28
# 1 + 2 + 3 + ... + 7 = 28

In [13]:
num=3
total=0
i=1
while i<=num:
    total+=i
    i+=1
print(total)

6

In [15]:
x=3
total=0
for i in range(1,x+1):
    total+=i
print(total)

6

#### 24.Give Me the Even Numbers
Create a function that takes two parameters (start, stop), and returns the sum of all even numbers in the range.

Examples
sum_even_nums_in_range(10, 20) ➞ 90
# 10, 12, 14, 16, 18, 20

sum_even_nums_in_range(51, 150) ➞ 5050

sum_even_nums_in_range(63, 97) ➞ 1360

In [26]:
start=10
stop=20
num=start
sum_even=0
while num<=20:
    if num%2==0:
        sum_even+=num
    num+=1
print(sum_even)

90

In [27]:
start=10
stop=20
sum_even=0
for num in range(start,stop+1):
    if num%2==0:
        sum_even+=num
print(sum_even)

90

#### 25.List of Consecutive Numbers
Implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).

Examples
get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

get_sequence(98, 100) ➞ [98, 99, 100]

get_sequence(1000, 1000) ➞ [1000]

In [6]:
start=1
stop=5
number=[]
number=start
while number<=stop:
    number.append(number)
    number+=1
print(number)

AttributeError: 'int' object has no attribute 'append'

In [38]:
start=1
stop=5
numbers=[]
for number in range(start,stop+1):
    numbers.append(number)
print(numbers)

[1, 2, 3, 4, 5]

#### 26.Find the Index (Part 1)
Create a function that finds the index of a given item.

Examples
search([1, 5, 3], 5) ➞ 1

search([9, 8, 3], 3) ➞ 2

search([1, 2, 3], 4) ➞ -1

In [1]:
x=[(1,5,6)]
target=5
i=0
while i<len(x):
    if x[i]==target:
        break
    i+=1
print(f'index of{target}:{i}')

index of5:1

In [12]:
x=[(1,5,6),5]
target=5
i=-1
for i in range(len(x)):
    if target in x[i]:
        i=1
        break
print(f'index of {target}:{i}')

index of 5:1

#### 27.Count the Capital Letters
Given a string of letters, how many capital letters are there?

Examples
capital_letters("fvLzpxmgXSDrobbgMVrc") ➞ 6

capital_letters("JMZWCneOTFLWYwBWxyFw") ➞ 14

capital_letters("mqeytbbjwqemcdrdsyvq") ➞ 0

In [2]:
x=("fvLzpxmgXSDrobbgMVrc")
count=0
i=0
while i<len(x):
    if x[i].isupper():
        count+=1
    i+=1
print(count)

6

In [7]:
x=("fvLzpxmgXSDrobbgMVrc")
count=0
for letter in x:
    if letter.isupper():
        count+=1
print(count)

6

#### 28.N Tables + 1
Create a function that takes a number num and returns the first 10 multiples of num with 1 added to it, separated by commas.

Examples
n_tables_plus_one(7) ➞ "8,15,22,29,36,43,50,57,64,71"

In [13]:
x=int(input("Enter number:"))
print("the multiplication are:")
for i in range(1,11):
    print(x*i+1,end=' ')

Enter number:7
the multiplication are:
8 15 22 29 36 43 50 57 64 71

In [22]:
x=int(input("enter number"))
print("the mulplication are:")
i=1
while i<=10:
    print(x*i+1,end=" ")
    i+=1

enter number7
the mulplication are:
8 15 22 29 36 43 50 57 64 71

#### 29.Count Instances of a Character in a String
Create a function that takes two strings as arguments and returns the number of times the first string (the single character) is found in the second string.

Examples
char_count("a", "edabit") ➞ 1ca

char_count("c", "Chamber of secrets") ➞ 1

char_count("b", "big fat bubble") ➞ 4

In [6]:
char=("c")
x=("Chamber of secrets")
count=0
i=0
while i<len(x):
    if x[i]==char:
        count+=1
    i+=1
print(count)

1

In [5]:
char=("b")
x=("big fat bubble")
count=0
for i in range(len(x)):
    if x[i]==char:
        count+=1
print(count)

4

#### 30.Recreating a len() Function
Create a function which returns the length of a string, without using len().

Examples
length("Hello World") ➞ 11

length("Edabit") ➞ 6

length("wash your hands!") ➞ 16

In [21]:
x=("Hello World")
count=0
i=0
while x[i:]:
    count+=1
    i+=1
print(count)

11

In [22]:
x=("Hello World")
count=0
for char in x:
    count+=1
print(count)

11

### 31.Convert Number to String of Dashes
Create a function that takes a number (from 1 - 60) and returns a corresponding string of hyphens.

Examples
num_to_dashes(1) ➞ "-"

num_to_dashes(5) ➞ "-----"

num_to_dashes(3) ➞ "---"

In [14]:
num=(3)
hyphens =""
count=0
while count<num:
    hyphens+="-"
    count+=1
print(hyphens)

---

In [7]:
num=5
hyphens=""
count=0
while count<num:
    hyphens+="-"
    count+=1
print(hyphens)

-----

#### 32.Word Endings
Create a function that adds a string ending to each member in a list.

Examples
add_ending(["clever", "meek", "hurried", "nice"], "ly")
➞ ["cleverly", "meekly", "hurriedly", "nicely"]

add_ending(["new", "pander", "scoop"], "er")
➞ ["newer", "panderer", "scooper"]

add_ending(["bend", "sharpen", "mean"], "ing")
➞ ["bending", "sharpening", "meaning"]

In [29]:
x=["clever","meek","hurried","nice"]
ending="ly"
i=0
while i<len(x):
    x[i]+=ending
    i+=1
print(x)

['cleverly', 'meekly', 'hurriedly', 'nicely']

In [30]:
x=["clever","meek","hurried","nice"]
ending="ly"
for i in range(len(x)):
    x[i]+=ending
print(x)

['cleverly', 'meekly', 'hurriedly', 'nicely']

#### 33.Sum of Cubes
Create a function that takes a list of numbers and returns the sum of its cubes.

Examples
sum_of_cubes([1, 5, 9]) ➞ 855
# Since 1^3 + 5^3 + 9^3 = 1 + 125 + 729 = 855

sum_of_cubes([3, 4, 5]) ➞ 216

sum_of_cubes([2]) ➞ 8

sum_of_cubes([]) ➞ 0

In [20]:
x=[3,4,5]
sum_of_cubes=0
i=0
while i<len(x):
    sum_of_cubes+=x[i]**3
    i+=1
print(sum_of_cubes)

216

In [21]:
num=[3,4,5]
sum_of_cubes=0
for num in num:
    sum_of_cubes+=num**3
print(sum_of_cubes)

216

#### 34.Generate a Countdown of Numbers in a List
Create a function that takes a number as an argument and returns a list of numbers counting down from this number to zero.

Examples
countdown(5) ➞ [5, 4, 3, 2, 1, 0]

countdown(1) ➞ [1, 0]

countdown(0) ➞ [0]

In [1]:
num=5
numbers=[]
while num>0:
    numbers.append(num)
    num-=1
print(numbers)

[5, 4, 3, 2, 1]

In [2]:
num=5
numbers=[]
for num in range(num,0,-1):
    numbers.append(num)
print(numbers)

[5, 4, 3, 2, 1]

#### 35.List from Comma-Delimited String
Write a function that turns a comma-delimited list into an array of strings.

Examples
to_array("watermelon, raspberry, orange")
➞ ["watermelon", "raspberry", "orange"]

to_array("x1, x2, x3, x4, x5")
➞ ["x1", "x2", "x3", "x4", "x5"]

to_array("a, b, c, d")
➞ ["a", "b", "c", "d"]

to_array("")
➞ []

In [46]:
x=("watermelon,raspberry,orange")
array=[]
word=""
i=0
while i<len(x):
    if x[i]!=",":
        word+=x[i]
    else:
        array.append(word.strip())
        word=""
    i+=1
array.append(word.strip())
print(array)

['watermelon', 'raspberry', 'orange']

In [50]:
x=("watermelon,raspberry,orange")
array=[]
word=""
for char in x:
    if char!=",":
        word+=char
    else:
        array.append(word)
        word=""
array.append(word) 
print(array)

['watermelon', 'raspberry', 'orange']

#### 36.Check Factors
Write a function that returns True if all integers in a list are factors of a number, and False otherwise.

Examples
check_factors([2, 3, 4], 12) ➞ True
# Since 2, 3, and 4 are all factors of 12.

check_factors([1, 2, 3, 8], 12) ➞ False
# 8 is not a factor of 12.

check_factors([1, 2, 50], 100) ➞ True

check_factors([3, 6], 9) ➞ False

In [5]:
num=[2,3,4]
numbers=12
i=0
while i<len(num):
    if numbers%num[i]!=0:
        result=False
        break
    i+=1
else:
    result=True
print(result)

True

In [6]:
nums=[2,3,4]
number=12
result=True
for num in nums:
    if num%num!=0:
        result=False
        break
print(result)

True

#### 37.Factorize a Number
Create a function that takes a number as its argument and returns a list of all its factors.

Examples
factorize(12) ➞ [1, 2, 3, 4, 6, 12]

factorize(4) ➞ [1, 2, 4]

factorize(17) ➞ [1, 17]

In [2]:
num=12
factors=[]
divisor=2
while num>1:
    if num%divisor==0:
        factors.append(divisor)
        num=num/divisor
    else:
        divisor+=1
print(factors)

[2, 2, 3]

### 38.Index Shuffle
Write a function that takes all even-indexed characters and odd-indexed characters from a string and concatenates them together.

To illustrate:

index_shuffle("abcd") ➞ "acbd"
// "ac" (even-indexed) + "bd" (odd-indexed)

In [4]:
string=("abcd")
even_chars=""
odd_chars=""
i=0
while i<len(str):
    if i%2==0:
        even_chars+=string[i]
    else:
        odd_chars+=string[i]
    i+=1
result=even_chars+odd_chars
print(result)

acbd

#### 39.Multiply by Length
Create a function to multiply all of the values in a list by the amount of values in the given list.

Examples
multiply_by_length([2, 3, 1, 0]) ➞ [8, 12, 4, 0]

multiply_by_length([4, 1, 1]) ➞ ([12, 3, 3])

multiply_by_length([1, 0, 3, 3, 7, 2, 1]) ➞  [7, 0, 21, 21, 49, 14, 7]

multiply_by_length([0]) ➞ ([0])

In [7]:
x=[2,3,1,0]
i=0
while i<len(x):
    x[i]*=len(x)
    i+=1
print(x)

[8, 12, 4, 0]

In [8]:
x=[2,3,1,0]
new_list=[]
for i in range(len(x)):
    new_list.append(x[i]*len(x))
print(new_list)

[8, 12, 4, 0]

### 40.How Many Digits?
Given an integer n. Your task is to find how many digits this integer contains without using str or len methods!

Examples
sum_digits(100) ➞ 3

sum_digits(1000) ➞ 4

sum_digits(1) ➞ 1

In [9]:
n=100
count=0
while n!=0:
    n//=10
    count+=1
print(count)

3

In [17]:
n=100
count=0
for digit in str(n):
    count+=1
print(count)

3

### 41.Sum of Resistance in Series Circuits
Create a function that takes an array of values resistance that are connected in series, and calculates the total resistance of the circuit in ohms. The ohm is the standard unit of electrical resistance in the International System of Units ( SI ).

Examples
series_resistance([1, 5, 6, 3]) ➞ "15 ohms"

series_resistance([16, 3.5, 6]) ➞ "25.5 ohms"

series_resistance([0.5, 0.5]) ➞ "1.0 ohm"

In [1]:
resistance=[1,5,6,3]
total_resistance=0
i=0
while i<len(resistance):
    total_resistance+=resistance[i]
    i+=1
print(total_resistance)

15

In [3]:
resistance=[1,5,6,3]
total_resistance=0
for r in resistance:
    total_resistance+=r
print(total_resistance)

15

### 42.Instant JAZZ
Create a function which concatenates the number 7 to the end of every chord in a list. Ignore all chords which already end with 7.

Examples
jazzify(["G", "F", "C"]) ➞ ["G7", "F7", "C7"]

jazzify(["Dm", "G", "E", "A"]) ➞ ["Dm7", "G7", "E7", "A7"]

jazzify(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]) ➞ ["F7", "E7", "A7", "Ab7", "Gm7", "C7"]

jazzify([]) ➞ []

In [4]:
chords=["G","F","C"]
i=0
while i<len(chords):
    if not chords[i].endswith("7"):
        chords[i]+=("7")
    i+=1
print(chords)

['G7', 'F7', 'C7']

In [6]:
chords=["G","F","C"]
for i in range(len(chords)):
    if not chords[i].endswith("7"):
        chords[i]+="7"
print(chords)

['G7', 'F7', 'C7']

### 43.How Many Vowels?
Create a function that takes a string and returns the number (count) of vowels contained within it.

Examples
count_vowels("Celebration") ➞ 5

count_vowels("Palm") ➞ 1

count_vowels("Prediction") ➞ 4

In [8]:
x=("Celebration")
vowels="aeiou"
count=0
i=0
while i<len(x):
    if x[i].lower()in vowels:
        count+=1
    i+=1
print(count)

5

In [9]:
x=("Celebration")
vowels="aeiou"
count=0
for letter in x:
    if letter.lower() in vowels:
        count+=1
print(count)

5

### 44.Find the Odd Integer
Create a function that takes a list and finds the integer which appears an odd number of times.

Examples
find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]) ➞ -1

find_odd([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]) ➞ 5

find_odd([10]) ➞ 10

In [20]:
numbers=[1,1,2,-2,5,2,4,4,-1,-2,5]
odd_num=[]
for num in numbers:
    if num%2!=0:
        odd_num.append(num)
print(odd_num)

[1, 1, 5, -1, 5]

### 45.Filter out Strings from an Array
Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

Examples
filter_list([1, 2, "a", "b"]) ➞ [1, 2]

filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]

filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [21]:
x=[1,2,"a","b"]
i=0
filter_list=[]
while i<len(x):
    if type(x[i])!=str:
        filter_list.append(x[i])
    i+=1
print(filter_list)

[1, 2]

In [22]:
x=[1,2,"a","b"]
filter_list=[]
for item in x:
    if type(item)!=str:
        filter_list.append(item)
print(filter_list)

[1, 2]

### 46.Add the Index
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]

add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]

add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [23]:
x=[0,0,0,0,0]
i=0
while i<len(x):
    x[i]+=i
    i+=1
print(x)

[0, 1, 2, 3, 4]

In [18]:
x=[1,2,3,4,5]
for i in range(len(x)):
    x[i]+=i
print(x)

[1, 3, 5, 7, 9]

### 47.Return Only the Integer
Write a function that takes a list of elements and returns only the integers.

Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

In [27]:
x=([9, 2, "space", "car", "lion", 16])
i=0
while i<len(x):
    if type(x[i])==int:
        print(x[i])
    i+=1

9
2
16

In [28]:
x=([9, 2, "space", "car", "lion", 16])
for i in x:
    if type(i)==int:
        print(i)

9
2
16

#### 48.Odd Up, Even Down
Create a function that goes through the array, incrementing (+1) for each odd-valued number and decrementing (-1) for each even-valued number.

Examples
transform([1, 2, 3, 4, 5]) ➞ [2, 1, 4, 3, 6]

transform([3, 3, 4, 3]) ➞ [4, 4, 3, 4]

transform([2, 2, 0, 8, 10]) ➞ [1, 1, -1, 7, 9]

In [29]:
x=[1,2,3,4,5]
i=0
while i<len(x):
    if x[i]%2==0:
        x[i]-=1
    else:
        x[i]+=1
    i+=1
print(x)

[2, 1, 4, 3, 6]

In [40]:
x=[3,3,4,3]
for i in range(len(x)):
    if x[i]%2==0:
        x[i]-=1
    else:
        x[i]+=1
print(x)

[4, 4, 3, 4]

### 49.Find the Mean of All Digits
Create a function that returns the mean of all digits.

Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [39]:
num=42
total=0
count=0
while num>0:
    digit=num%10
    total+=digit
    count+=1
    num//=10
mean=total/count
print(mean)

3.0

In [37]:
n=42
total=0
count=0
for digit in str(n):
    total+=int(digit)
    count+=1
mean=total/count
print(mean)

3.0

### 50.True Ones, False Zeros
Create a function which returns a list of booleans, from a given number. Iterating through the number one digit at a time, append True if the digit is 1 and False if it is 0.

Examples
integer_boolean("100101") ➞ [True, False, False, True, False, True]

integer_boolean("10") ➞ [True, False]

integer_boolean("001") ➞ [False, False, True]

In [32]:
binary_string=("100101")
i=0
true_count=0
false_count=0
while i<len(binary_string):
    if binary_string[i]=='1':
        print("True",end=' ')
        true_count+=1
    elif binary_string[i]=="0":
        print("False",end=' ')
        false_count+=1
    i+=1  
print("\nNumber of true values:",true_count)
print("\nNumber of false vlues:",false_count)

True False False True False True
Number of true values: 3

Number of false vlues: 3

In [22]:
binary_string="100101"
true_count=0
false_count=0
for digit in binary_string:
    if digit=="1":
        print("true",end=' ')
        true_count+=1
    elif digit=="0":
        print("false",end=" ")
        false_count+=1
print("\nNumber of true values:",true_count)
print("Number of false vlues:",false_count)

true false false true false true
Number of true values: 3
Number of false vlues: 3