### List compresensions

#### 1.Create a list compresension that generates a list of squares of numbers from 1 to 10.

In [16]:
a=[]
for i in range(1,11):
    a.append(i**2)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
a=[i**2 for i in range(1,11)]
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 2.Given a list of words, create a list comprehensions to filter out words that are longer than 5 characters.

In [10]:
words=['apple','banana','cherry','date','elderberry']
filtered_words=[word for word in words if len(word)<=5]
print(filtered_words)

['apple', 'date']

### Lists

#### 1.Create a list containing the numbers 1 to 5 and then append the number 6 to it.

In [19]:
num=[1,2,3,4,5]
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]

In [6]:
num=[ele for ele in range(1,6)]+[6]
print(num)

[1, 2, 3, 4, 5, 6]

### 2.Given  two lists ,merge them into a single list without duplicates.

In [30]:
list1=[1,2,3,4]
list2=[3,4,5,6]
merged_list=list(set(list1+list2))
print(merged_list)

[1, 2, 3, 4, 5, 6]

### Map

#### 1.use the map function to double each element in a list.

In [28]:
x=[1,2,3,4,5]
y=list(map(lambda x:x*2,x))
print(y)

[2, 4, 6, 8, 10]

#### 2.use the map funtion to convert a list of strings to uppercase.

In [10]:
x=['apple','banana','cherry']
y=lambda x:x.upper()
z=list(map(y,x))
print(z)

['APPLE', 'BANANA', 'CHERRY']

### filter

#### 1.Use the filter function to get all even numbers from a list.

In [2]:
x=[1,2,3,4,5,6]
even_num=list(filter(lambda x:x%2==0,x))
print(even_num)

[2, 4, 6]

In [34]:
a = lambda x: True if x%2==0 else False

In [35]:
x = filter(a, range(1,7))
print(x, type(x))

<filter object at 0x0000019CA0398310> <class 'filter'>

In [36]:
x = list(x)
x

[2, 4, 6]

#### 2.Use the filter function to get all words from a list that starts with the letter 'b'.

In [17]:
a=['apple','banana','cherry','blueberry','date']
y=lambda x:True if x.startswith('b') else False
c=list(filter(y,x))
c

['banana', 'blueberry']

### Function

#### 1.Write a function called add that takes two numbers as input and return their sum.

In [13]:
 def add(x,y):
    return x+y
add(3,4)

7

In [20]:
result=add(3,4)
print(result)

7

#### 2.Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.

In [6]:
def calculate_average(num):
    return result/len(num)
calculate_average([1,2,3,4,5])

3.0

In [7]:
x=([1,2,3,4,5])
result=calculate_average(x)
print(result)

3.0